# Regras de Code Owners do repositório Xadrez-ES2

# Responsáveis pela pasta da interface gráfica (SFML / C++)
/interface/ @Rottschaefer @Alvidosa

/engine/ @caioveigap 

/IA/ @Alessandro-F-Ferreira-F
